:root {
  --box-shadow: 5px 5px 10px 10px rgba(101, 175, 10, 0.5);
}
.home {
  height: 80vh;
  /* display: flex; */
  
  justify-content: space-between;
  align-items: center;
}

.home .left {
  background-color: rgba(199, 93, 23, 0.619);
  width: 620px;
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgba(0, 255, 47, 0.8);
  box-shadow: var(--box-shadow);
}

.home .right .img {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.home .right .img img {
  height: 270px;
  width: 270px;
  border: 5px solid yellow;
  border-radius: 100%;
  animation-name: superman;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes superman {
  0% {
    border-color: blue;
    transform: translate(0, 0px);
    box-shadow: 10px 10px 100px 50px blue;
  }

  25% {
    border-color: rgb(239, 244, 11);
    box-shadow: 10px 10px 100px 50px rgb(239, 244, 11);
  }

  50% {
    border-color: rgb(12, 12, 199);
    transform: translate(0, 10px);
    box-shadow: 10px 10px 100px 50px rgb(12, 12, 199);
  }

  75% {
    border-color: rgb(130, 217, 160);
    box-shadow: 10px 10px 100px 50px rgb(130, 217, 160);
  }

  100% {
    border-color: rgb(50, 55, 205);
    transform: translate(0, -0px);
    box-shadow: 10px 10px 100px 50px rgb(50, 55, 205);
  }
}

/* npm i typed.js */